# Global ClaudeContainer Configuration
# Copy to ~/.env.claudecontainer and customize

# Path to .claude in your project (usually stays as-is)
CLAUDECONTAINER_PATH=./.claude

# Timezone
TZ=Europe/Stockholm


CLAUDE_CODE_OAUTH_TOKEN=sk-ant-oat01-FIXME
GH_TOKEN=github_pat_FIXME
NTFY_URL=https://ntfy.sh/claude-FIXME
NTFY_TOKEN=tk_FIXME

