{
  "enableAllProjectMcpServers": true,
  "enabledMcpjsonServers": [],
  "disabledMcpjsonServers": [],
  "forceLoginMethod": "claudeai",
  "alwaysThinkingEnabled": true,
  "statusLine": {
    "type": "command",
    "command": "/bin/bash claudecontainer/scripts/statusline-command.sh"
  }
}
